/*------------------------------------
fonts
--------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 1em 0;
}

p {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 1em 0;
}



/*------------------------------------
style
--------------------------------------*/
//CHEESECAKE THEME//
//$dark-red: #4C1B1B;
//$red:#B9121B;
//$darkerbeige: #BD8D46;
//$beige: #F6E497;
//$offwhite: #FCFAE1;

//BLUE THEME//
$dark-red: #183152;
$red: #375D81;
$darkerbeige: #ABC8E2;
$beige: #C4D7ED;
$offwhite: #E1E6FA;

// TRY //
//$dark-red: #;
//$red: #375D81;
//$darkerbeige: #ABC8E2;
//$beige: #C4D7ED;
//$offwhite: #E1E6FA;

.App-title{
    text-align: center;
    background-color:$beige;
    color:$dark-red;
    padding:0.5em;
}

a{
    text-decoration: none;
    color: black;
}
/*------------------------------------
Header
--------------------------------------*/
.App-header {
    padding: 1.5em;
    background: $dark-red;
    text-align: center;
}
.App-header img {
    width: 180px;
    margin: 0 auto;
    border-radius: 50%;
}
.App-header .full-name{
    color: $beige;
    font-size: 1.5em;
    padding: 0.5em 0.5em 0;
}
.App-header .description{
    color: $darkerbeige;
    font-size: 0.9em;
    padding: 0;
}
/*------------------------------------
Content
--------------------------------------*/
.App-content{
    padding: 2em;
    animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.skill-logo-set{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}

.skill-logo-set a img{
    padding:25px;
    width:100px;
}
.project{
    margin-bottom: 40px;
    overflow: auto;
}
.project h4{
    margin:0px;
    padding:0px;
}
.project img{
    float: left;
    margin: 0 15px 0 0;
    width: 100px;
}
.project p{
    font-size: 12px;
}


/*------------------------------------
Sidebar
--------------------------------------*/
.App-sidebar{
    background-color: $dark-red ;
    display: flex;
    flex-direction: column;
}
.App-sidebar a{
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        border-right: $dark-red 2em solid;
        transition: all 0.5s;
    }
    &.active{
        border-right: $dark-red 2em solid;
    }
}


#About {
    background-color: $darkerbeige;
}

#Experience {
    background-color: $offwhite;
}

#Skills{
    background-color: $red;
    color:$offwhite
}

#Project{
    background-color: $beige;
}

/*------------------------------------
Footer
--------------------------------------*/
.App-footer{
    background-color: $dark-red ;
    color: $offwhite;
    padding-top: 0;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 1em;
}

.App-footer div{
    font-size: 0.9em;
}

.social-media a {
    display: block;
    color: $offwhite;
    cursor: pointer;
    &:hover{
        color: $beige;
    }
}

