/*------------------------------------
fonts
--------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  line-height: 1.5; }

h1,
h2,
h3 {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 1em 0; }

p {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 1em 0; }

/*------------------------------------
style
--------------------------------------*/
.App-title {
  text-align: center;
  background-color: #C4D7ED;
  color: #183152;
  padding: 0.5em; }

a {
  text-decoration: none;
  color: black; }

/*------------------------------------
Header
--------------------------------------*/
.App-header {
  padding: 1.5em;
  background: #183152;
  text-align: center; }

.App-header img {
  width: 180px;
  margin: 0 auto;
  border-radius: 50%; }

.App-header .full-name {
  color: #C4D7ED;
  font-size: 1.5em;
  padding: 0.5em 0.5em 0; }

.App-header .description {
  color: #ABC8E2;
  font-size: 0.9em;
  padding: 0; }

/*------------------------------------
Content
--------------------------------------*/
.App-content {
  padding: 2em;
  animation: fadein 1s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.skill-logo-set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start; }

.skill-logo-set a img {
  padding: 25px;
  width: 100px; }

.project {
  margin-bottom: 40px;
  overflow: auto; }

.project h4 {
  margin: 0px;
  padding: 0px; }

.project img {
  float: left;
  margin: 0 15px 0 0;
  width: 100px; }

.project p {
  font-size: 12px; }

/*------------------------------------
Sidebar
--------------------------------------*/
.App-sidebar {
  background-color: #183152;
  display: flex;
  flex-direction: column; }

.App-sidebar a {
  padding: 1em;
  font-weight: bold;
  cursor: pointer; }
  .App-sidebar a:hover {
    border-right: #183152 2em solid;
    transition: all 0.5s; }
  .App-sidebar a.active {
    border-right: #183152 2em solid; }

#About {
  background-color: #ABC8E2; }

#Experience {
  background-color: #E1E6FA; }

#Skills {
  background-color: #375D81;
  color: #E1E6FA; }

#Project {
  background-color: #C4D7ED; }

/*------------------------------------
Footer
--------------------------------------*/
.App-footer {
  background-color: #183152;
  color: #E1E6FA;
  padding-top: 0;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 1em; }

.App-footer div {
  font-size: 0.9em; }

.social-media a {
  display: block;
  color: #E1E6FA;
  cursor: pointer; }
  .social-media a:hover {
    color: #C4D7ED; }
